# Woef

In [ ]:
# pip install requests

Requirement already satisfied: requests in c:\users\tijnw\appdata\local\programs\python\python311\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tijnw\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tijnw\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\tijnw\appdata\local\programs\python\python311\lib\site-packages (from requests) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tijnw\appdata\local\programs\python\python311\lib\site-packages (from requests) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# API read access token
# eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxZDRiMGE2Njc0MGUwOTBhOWQ1YmVkZGRjZGVhYTBlNiIsIm5iZiI6MTczNTkwMzc3My41NDQ5OTk4LCJzdWIiOiI2Nzc3Y2ExZDQ5NmRkOTUyYzg3MjUzOGEiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.VpJJ_01DU_nHxqtSGm_uJTTNQyfrV1FC_uab5nLeECU

# API key
# 1d4b0a66740e090a9d5bedddcdeaa0e6

In [6]:
import requests

url = "https://api.themoviedb.org/3/authentication"

headers = {"accept": "application/json",
           'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxZDRiMGE2Njc0MGUwOTBhOWQ1YmVkZGRjZGVhYTBlNiIsIm5iZiI6MTczNTkwMzc3My41NDQ5OTk4LCJzdWIiOiI2Nzc3Y2ExZDQ5NmRkOTUyYzg3MjUzOGEiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.VpJJ_01DU_nHxqtSGm_uJTTNQyfrV1FC_uab5nLeECU'}

response = requests.get(url, headers=headers)

print(response.text)

{"success":true}

In [15]:
import pandas as pd

# Define the URL and parameters for the API request
url = "https://api.themoviedb.org/3/discover/tv"
params = {
    'api_key': '1d4b0a66740e090a9d5bedddcdeaa0e6',
    'with_networks': 213,  # Netflix network ID
    'sort_by': 'popularity.desc'
}

# Make the API request to discover TV shows
response = requests.get(url, headers=headers, params=params)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    shows = data['results']
    
    # Extract relevant information from the response
    shows_data = []
    for show in shows[:5]:  # Limiting to first 5 shows for brevity
        show_id = show['id']
        show_details_url = f"https://api.themoviedb.org/3/tv/{show_id}"
        show_details_response = requests.get(show_details_url, headers=headers)
        
        if show_details_response.status_code == 200:
            show_details = show_details_response.json()
            show_info = {
                'Name': show['name'],
                'Avg Rating': show['vote_average']
            }
            for season in show_details['seasons']:
                season_number = season['season_number']
                season_details_url = f"https://api.themoviedb.org/3/tv/{show_id}/season/{season_number}"
                season_details_response = requests.get(season_details_url, headers=headers)
                
                if season_details_response.status_code == 200:
                    season_details = season_details_response.json()
                    for episode in season_details['episodes']:
                        episode_info = {
                            'Season': season_number,
                            'Episode': episode['episode_number'],
                            'Episode Rating': episode['vote_average']
                        }
                        shows_data.append({**show_info, **episode_info})
                else:
                    print(f"  Failed to retrieve season details: {season_details_response.status_code}")
        else:
            print(f"Failed to retrieve show details: {show_details_response.status_code}")

    
else:
    print(f"Failed to retrieve data: {response.status_code}")

In [18]:
# Create a DataFrame
df = pd.DataFrame(shows_data)
display(df[df['Name'] == 'Lucifer'])

        Name  Avg Rating  Season  Episode  Episode Rating
29   Lucifer       8.457       0        1             7.6
30   Lucifer       8.457       0        2             4.8
31   Lucifer       8.457       0        3             8.0
32   Lucifer       8.457       0        4             6.6
33   Lucifer       8.457       0        5            10.0
..       ...         ...     ...      ...             ...
141  Lucifer       8.457       6        6             7.8
142  Lucifer       8.457       6        7             7.8
143  Lucifer       8.457       6        8             7.8
144  Lucifer       8.457       6        9             8.3
145  Lucifer       8.457       6       10             8.2

[117 rows x 5 columns]

In [17]:
df['Name'].value_counts()

Name
Lucifer                      117
Arrested Development          89
Cobra Kai                     65
Squid Game                    17
Squid Game: The Challenge     12
Name: count, dtype: int64